.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
_site/
**/*.quarto_ipynb

.DS_Store
**/.venv/
**/__pycache__/
**/*.pyc

ai-agent/backend/.env
ai-agent/backend/.sheet_id
ai-agent/service_account.json

ai-chet-boot/
backend/
api/
